<h1>Админская панель</h1>

<div class="inputAdmin">
    <p>Вход</p>
    <div>
        <mat-form-field class="login" appearance="fill">
            <mat-label id="loginText">Login</mat-label>
            <input matInput type="text" [(ngModel)]="login">
            <button *ngIf="login" matSuffix mat-icon-button aria-label="Clear" (click)="login =''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" class="pass">
            <mat-label id="passwordText">Enter your password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </div>
    <div>
        <button mat-button (click)="loginBtn()" id="enterButton">
            Enter
        </button>
    </div>
</div>
<p id="development">
    В разработке
</p>